@font-face {
    font-family: Arvo;
    src: url("../fonts/Arvo-Regular.ttf");
}

* { font-family: Arvo; }

body {
    background-color: #0a192f;
}

main {
    margin: 0 80px 0 80px;
}

section {
    margin: 20px 0 100px 0;
}

.mainHeader {
    margin-right: 30px;
}

a {
    text-decoration: none;
    color: #ff1600;
}

p {
    color: #8892b0;
}

/****** header ******/
h1 {
    font-size: 1em;
    color: #ff1600;
}

#intro h2, #intro h3 {
    margin: 0;
    font-size: 4em;
}

h2 {
    color: #ccd6f6;
}

h3 {
    color: #a8b2d1;
}

h3 > a {
    position: relative;
    color: #ff1600;
    text-decoration: none;
}

/* Animate the line from the left */
h3 > a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ff1600;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.3s ease;
}

h3 > a:hover::before {
    transform: scaleX(1);
}

/****** navbar ******/
.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;

    list-style: none;
    margin: 0;
    background: #0a192f;
    z-index: 2;

    position: fixed;
    top: 0;
    width: 96%;
    border-bottom: solid 1px #ff1600;
}

.navigation a {
    display: block;
    padding: 1em;
    color: #8892b0;
}

.navigation a:hover {
    color: #ff1600;
}

#intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#intro p {
    max-width: 50ch;
}

.introBody {
    margin: 20em 0 35em 0;
}

#about {
    display: flex;
    justify-content: space-around;
}

#about p {
    font-size: 20px;
}

#about img {
    float: left;
    max-width: 30em;
    max-height: 30em;
}

#about p {
    max-width: 70ch;
}

.aboutBody {
    margin-left: 20px;
    flex-direction: column;
}

.aboutBody ul {
    color: #8892b0;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    columns: 2;
}

.aboutBody li {
    font-size: 18px;
    padding-left: 1em;
    text-indent: -1em;
    margin: 0;
}

.aboutBody li::before {
    content: "▹";
    color: #ff1600;
    font-size: 20px;
}

#experience {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#experience p {
    font-size: 20px;
    max-width: 60ch;
}

.experienceBody {
    width: 70%;
}

#projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#projects article{
    margin: 20px 0;
}

#projects div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#projects p {
    padding: 1em;
    font-size: 20px;
    max-width: 50ch;
    color: #ffffff;
}

.project1, .project2, .project3 {
    opacity: 70%;
    height: 20em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.project1 {
    background-image: url("../img/ksigweb.PNG");
}

.project2 {
    background-image: url("../img/cpu.PNG");
}

.project3 {
    background-image: url("../img/flow.PNG");
}

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#contact article {
    text-align: center;
    padding-bottom: 100px;
}

#contact p {
    font-size: 20px;
    max-width: 70ch;
}

#contact h3 {
    text-align: center;
    font-size: 3em;
}

footer {
    text-align: center;
    color: #8892b0;
    padding: 20px 80px 20px 80px;
}

button {
    color: #ff1600;
    border: solid 1px #ff1600;
    height: 50px;
    width: 100px;
    background-color: transparent;
}

button:hover{
    background-color: #233554;
    cursor:pointer;
}

@media all and (max-width: 800px) {
    .navigation {
        justify-content: space-around;
    }
    #about {
        flex-flow: column;
        align-items: center;
    }
}

@media all and (max-width: 600px) {
    .navigation {
        flex-flow: column wrap;
        padding: 0;
        border: none;
    }
    .navigation a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255,0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .navigation li:last-of-type a {
        border-bottom: none;
    }

    #intro h2, #intro h3 {
        font-size: 2em;
    }

    #about {
        flex-flow: column;
    }

    #about p, #experience p, #projects p {
        font-size: 15px;
        width: 25ch;
    }

    #projects div {
        height: 100%;
        width: 100%;
    }
}